<div class="wrapper">

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div [ngClass]="{invalid: form.get('name').touched &&
    form.get('name').invalid}"
         class="form-control">
      <label for="name">*Enter name:</label>
      <input [(ngModel)]="user.name" placeholder="Name"
             formControlName="name" type="text"
             id="name">
      <div *ngIf="form.get('name').touched && form.get('name').invalid"
           class="validation">
        <small *ngIf="form.get('name').errors?.required">Can't be
          empty</small>
      </div>
    </div>


    <div [ngClass]="{invalid: form.get('phone').touched &&
    form.get('phone').invalid}"
         class="form-control">
      <label for="phone">*Enter phone:</label>
      <input [(ngModel)]="user.phone" placeholder="+380-xxx-xxx-xxx"
             formControlName="phone"
             type="text"
             id="phone">
      <div *ngIf="form.get('phone').touched && form.get('phone').invalid"
           class="validation">
        <small *ngIf="form.get('phone').errors?.required">Can't be
          empty</small>
      </div>
    </div>


    <div [ngClass]="{invalid: form.get('birthday').touched &&
    form.get('birthday').invalid}"
         class="form-control">
      <label for="birthday">Enter birthday:</label>
      <input [(ngModel)]="user.birthday" formControlName="birthday"
             type="date"
             id="birthday">
    </div>


    <div [ngClass]="{invalid: form.get('email').touched &&
    form.get('email').invalid}"
         class="form-control">
      <label for="email">Enter email:</label>
      <input [(ngModel)]="user.email" placeholder="email@gmail.com"
             formControlName="email"
             type="text" id="email">
      <div *ngIf="form.get('email').touched && form.get('email').invalid"
           class="validation">
        <small *ngIf="form.get('email').errors?.email">Only email</small>
      </div>
    </div>


    <div [ngClass]="{invalid: form.get('address').touched &&
    form.get('address').invalid}"
         class="form-control">
      <label for="address">Enter city:</label>
      <input [(ngModel)]="user.address" placeholder="Los Angeles"
             formControlName="address"
             type='text' id="address">
    </div>

    <button [disabled]="form.invalid" class="btn" type="submit">Save
    </button>
  </form>
</div>

